{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">{{ page.hero_title }}</h1>
                <p class="lead">{{ page.hero_subtitle }}</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{{ page.cta_btn_link.url }}" role="button">{{ page.cta_btn_text }}</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}