{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Featured Articles</h2>
            <div class="row">
                {% for article in featured_articles %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.intro }}</p>
                            <a href="{% pageurl article %}" class="btn btn-primary">Read Post</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}